* {
  margin: 0;
  padding: 0;
}
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}
.container {
  width: 800px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
  position: relative;
}
.post-header {
  margin-bottom: 40px;
}
article {
  margin-bottom: 60px;
}
.img-post {
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444444;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}
/* footer p {
  font-size: 16px;
} */
#copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}
.realted-author {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
.related-list {
  list-style: none;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 50px;
  margin-bottom: 10px;
  width: 500px;
}

/* .first-li {
  color: red;
} */

/* li:first-child {
  color: red;
} */
/* li:nth-child(odd) {
  color: rgb(222, 8, 8);
}
li:nth-child(even) {
  color: rgb(186, 94, 94);
} */

/* Misconception : This wont works as first chilld is header in article */
/* article p:first-child {
  color: green;
} */
/* Styling hyperlinks LVHA */
nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  background-color: #000;
  font-style: italic;
}

.like-button {
  padding: 10px;
  position: absolute;
  top: -1pxpx;
  left: -1px;
}

h1::first-letter {
  font-style: normal;
  padding: 5px;
}

/* h3 + p::first-line {
  color: red;
} */
h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #000;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}
